    <form action="/answer" method="get" data-turbo="false" class="form-inline-custom">
      <input type="text" name="question" placeholder="Your question" class="form-control form-control-custom" required>
      <button type="submit" class="btn btn-primary btn-custom">Ask</button>
    </form>
  </div>
